* {
    color: #222;
}

/*AQUI SE AGREGAN LAS FUENTES */
@font-face {
    font-family: pristina;
    src: url(font/pristina.TTF);
}

@font-face {
    font-family: berter;
    src: url(font/Barter.otf);
}


html,
body {
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: #fae7fd;
}

bienvenida {
    color: #9100ff;
    font-family: berter;
    font-size: calc(1.1em + 1.1vw);
    margin: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
}


nombreBienvenida {
    color: #6e00ff;
    display: block;
    font-family: pristina;
    font-size: calc(3em + 3vw);
    font-weight: bold;
    margin-bottom: 10vh;
}
.divBienvenida{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 1vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

textoNombre {
    color: #9100ff;
    display: table;
    font-size: calc(0.9em + 0.9vw);
    text-align: center;
    margin: 5%;
}

.tableNombrePadres{
    display: flex;
    justify-content: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

tituloPresentacion {
    color: #9100ff;
    font-family: arial;
    font-size: calc(1em + 1vw);
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header {
    background-image: url(./img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 1vh;
}


.heading-subtext {
    color: #fff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .6em;
}

.fixed-button {
    background: rgba(20, 20, 20, .5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}

.fixed-button::after {
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}

.fixed-button:active,
.fixed-button:hover {
    background: rgba(20, 20, 20, .9);
}

.section {
    margin: 0 auto;
    max-width: 600px;
}

.sub-heading {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}

.details {
    margin: 0 auto 8em;
}

.details-heading {
    font-weight: bold;
    text-transform: uppercase;
}

.fas {
    font-size: 3em;
    opacity: .8;
}

.resort-image {
    width: 100%
}
/* 
@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
} */